aio-pika==6.8.0
aioamqp==0.10.0
aiohttp==3.7.4
aiormq==3.3.1
aiosignal==1.2.0
appdirs==1.4.4
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.2.0
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.9
frozenlist==1.2.0
idna==3.3
jedi==0.17.2
multidict==5.2.0
packaging==21.3
pamqp==2.3.0
parso==0.7.1
pika==0.10.0
pipdeptree==0.10.1
pluggy==1.0.0
pymongo==3.11.4
pyparsing==3.0.6
python-dotenv==0.19.2
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
requests==2.26.0
six==1.16.0
slackclient==1.0.0
typing_extensions==4.0.1
ujson==5.1.0
urllib3==1.26.7
websocket-client==1.2.1
yarl==1.7.2
