##
# Main URL for services callbacks
# Should use https protocol
##
URL = ''

# HTTP server settings
SERVER = {
    'host': '127.0.0.1',
    'port': 1337
}

# RabbitMQ server settings
RABBITMQ = {
    'host': '127.0.0.1',
}

# Route for external plugins handshake
HANDSHAKE_URL = '/handshake'
